{% extends "edw/admin/base_actions/_change_form.html" %}
{% load i18n l10n static %}

{% block extrahead %}{{ block.super }}
<script src="{% static 'dynamic_raw_id/js/dynamic_raw_id.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <form action="" method="post">{% csrf_token %}
            {% if form.errors %}
                <p class="errornote">
                    {% trans "Please correct the errors below." %}
                </p>
                {{ form.non_field_errors }}
            {% endif %}

{% block fieldsets %}
<div class="inline-group" id="options-group">
    <div class="inline-related tabular">
        <fieldset class="module">
{% for field in form %}
    <div class="form-row field-{{ field.name }}">
        <div>
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        </div>
    </div>
{% endfor %}
        </fieldset>
    </div>
</div>
{% endblock %}

            {% include 'edw/admin/base_actions/_updated_objects.html' %}

            {% for obj in queryset %}
                <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
            {% endfor %}

            <input type="hidden" name="action" value="{{ action }}" />
            <input type="hidden" name="post" value="yes" />

            {% block submit_buttons_bottom %}{% include 'edw/admin/_submit_row.html' %}{% endblock %}

        </form>
    </div>
{% endblock %}
