{% extends "edw/admin/base_actions/multiply_objects.html" %}
{% load i18n l10n %}

{% block fieldsets %}
    <div class="inline-group" id="choose-terms-group">
        <div class="inline-related tabular">
            <fieldset class="module">
                <h2>{% trans 'Make youre choice' %}</h2>
                <table>
                    <thead>
                        <tr>
                            <th style="width: 50%">{% trans 'Terms to set' %}</th>
                            <th style="width: 50%">{% trans 'Terms to unset' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{ form.to_set }}
                            </td>
                            <td>
                                {{ form.to_unset }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
    {{ form.select_across }}
{% endblock %}
