include LICENSE.txt
include README.md
include setup.py
recursive-include backend/edw *.py
recursive-include backend/edw/static *
recursive-include backend/edw/templates *
recursive-include backend/edw/locale *