-r ../requirements/django19/common.txt
django-classy-tags==0.7.2
django-cms==3.2.3
django-ipware==1.1.1
django-libsass==0.4
django-post-office==2.0.6
django-sass-processor==0.3.4
djangoshop-stripe==0.1.4
django-treebeard==4.0
djangocms-bootstrap3==0.1.1
djangocms-cascade==0.8.1
djangocms-text-ckeditor==2.8.1
libsass==0.8.3
oauthlib==1.0.3
pluggy==0.3.1
py==1.4.30
python-openid==2.2.5
requests-oauthlib==0.5.0
stripe==1.27.1
Unidecode==0.4.18
wheel==0.24.0
git+ssh://git@bitbucket.org/info-labs/django-edw.git
git+ssh://git@bitbucket.org/info-labs/django-shop-edw.git

