{% extends "edw/admin/base_actions/multiply_objects.html" %}
{% load i18n l10n %}

{% block fieldsets %}
    <div class="inline-group" id="relations-group">
        <div class="inline-related tabular">
            <fieldset class="module">
                <h2>{% trans 'Make youre choice' %}</h2>
                <table>
                    <thead>
                        <tr>
                            <th style="width: 100%">{% trans 'State to set' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{ form.state }}
                            </td>
                        </tr>
                </table>
            </fieldset>
        </div>
    </div>
{% endblock %}
