{% extends "edw/admin/base_actions/multiply_objects.html" %}
{% load i18n l10n static %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'salmonella/js/salmonella.js' %}"></script>
{% endblock %}

{% block fieldsets %}
    <div class="inline-group" id="relations-group">
        <div class="inline-related tabular">
            <fieldset class="module">
                <h2>{% trans 'Make youre choice' %}</h2>
                <table>
                    <thead>
                        <tr>
                            <th style="width: 50%">{% trans 'Additional marks to set' %}</th>
                            <th style="width: 50%">{% trans 'Additional marks to unset' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{ form.to_set_term.label }}
                                <br><br>
                                {{ form.to_set_term }}
                            </td>
                            <td>
                                {{ form.to_unset_term.label }}
                                <br><br>
                                {{ form.to_unset_term }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.value.label }}
                                <br><br>
                                {{ form.value }}
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.view_class.label }}
                                <br><br>
                                {{ form.view_class }}
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
{% endblock %}
