{% extends "edw/admin/base_actions/multiply_objects.html" %}
{% load i18n l10n static %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'salmonella/js/salmonella.js' %}"></script>
{% endblock %}

{% block fieldsets %}
    <div class="inline-group" id="relations-group">
        <div class="inline-related tabular">
            <fieldset class="module">
                <h2>{% trans 'Make youre choice' %}</h2>
                <table>
                    <thead>
                        <tr>
                            <th style="width: 50%">{{ form.to_set.label }}</th>
                            <th style="width: 50%">{{ form.to_unset.label }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{ form.to_set }}
                            </td>
                            <td>
                                {{ form.to_unset }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th style="width: 50%">{{ form.to_set_order.label }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{ form.to_set_order }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
{% endblock %}
