{% extends "admin/change_form.html" %}
{% load i18n l10n admin_urls static %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=app_label %}">{% trans app_label|capfirst|escape %}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; {% trans 'Update terms for multiple entities' %}
    </div>
{% endblock %}


{% block content %}
    <div class="container-fluid">
    <form action="" method="post">{% csrf_token %}

        {% block submit_buttons_top %}{% include 'edw/admin/_submit_row.html' %}{% endblock %}

        <div class="inline-group" id="choice-group">
            <div class="inline-related ">
                <fieldset class="module aligned">
                    <h2>{% trans 'Make youre choice' %}</h2>
                    <table style="width: 100%;">
                        <thead>
                            <tr>
                                <th>{% trans 'Select terms to set:' %}</th>
                                <th>{% trans 'Select terms to unset:' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding-left: 5px; padding-right: 20px; width: 50%;">
                                    {{ form.to_set }}
                                </td>
                                <td style="padding-left: 5px; padding-right: 20px; width: 50%;">
                                    {{ form.to_unset }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h2>{% trans 'Updated entities' %} <sup>{% trans 'Count:' %} {{ to_proceed|length }}</sup></h2>
                    <p>
                    {% for object in to_proceed|slice:":20" %}
                    {% if forloop.last and forloop.counter == 20 %}...<br>{% endif %}
                        {{ object|safe }}<br>
                    {% endfor %}
                    </p>
                </fieldset>
            </div>
        </div>

        {% for obj in queryset %}
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
        {% endfor %}

        <input type="hidden" name="action" value="update_terms" />
        <input type="hidden" name="post" value="yes" />


        {% block submit_buttons_bottom %}{% include 'edw/admin/_submit_row.html' %}{% endblock %}

    </form>
    </div>
{% endblock %}
