{% load i18n %}
<script type="text/javascript">
    "use strict";

    $(function(){
        var $tree = $('#{{ name }}-select').tree({
            autoEscape: false,
            selectable: false,
            onCreateLi: function(node, $li) {
                var $checkbox = $("input:checkbox", $li);
                $checkbox.change(node, function(e){
                    e.data._cheked = $(this).is(':checked');
                });
                if ( node._cheked ){
                    $checkbox.prop('checked', true);
                }
            }
        }).bind(
            'tree.init',
            function() {
                $("input:checkbox[autoopen]", this).each(function(){
                    var node = $tree.tree('getNodeById', $(this).val());
                    $tree.tree('openNode', node, false);
                });
            }
        );
    });
</script>

<div id="{{ name }}-select" data-url="{% url 'admin:edw_term_select_json' %}?name={{ name }}&selected={% for val in value %}{{ val|add:'0' }}{% if not forloop.last %},{% endif %}{% endfor %}&cached=0&active_only=0&_={% now 'U' %}" class="term tree-widget"></div>