{% load i18n %}
<script type="text/javascript">
    "use strict";
    $(function(){
        var $container = $('#{{ name }}-select');
        $container.tree({
            autoEscape: false,
            selectable: false,
            onLoading: function (is_loading, node, $el) {
                //console.log("*", is_loading, node, $el);

                if ( !is_loading ) {
                    if ( !node ) {
                        //console.log("READY", $("imput['checked']", $container));


                    }
                }
            }
        });
    });
</script>

<div id="{{ name }}-select" data-url="{% url 'admin:edw_term_select_json' %}?_={% now 'U' %}&name={{ name }}&cached=0&active_only=0&selected={% for val in value %}{{ val|add:'0' }}{% if not forloop.last %},{% endif %}{% endfor %}" class="term tree-widget"></div>