{% load i18n compress %}
{% compress js %}
<script>
(function ($) {
    "use strict";

    $('body').addClass('loading');

    $(function(){
        var spinners = {};
        var opts = {
              lines: 11 // The number of lines to draw
            , length: 1 // The length of each line
            , width: 2 // The line thickness
            , radius: 4 // The radius of the inner circle
            , scale: 2 // Scales overall size of the spinner
            , corners: 1 // Corner roundness (0..1)
            , color: '#777' // #rgb or #rrggbb or array of colors
            , opacity: 0.2 // Opacity of the lines
            , rotate: 0 // The rotation offset
            , direction: 1 // 1: clockwise, -1: counterclockwise
            , speed: 1.1 // Rounds per second
            , trail: 50 // Afterglow percentage
        };

        {% ifequal node_template "simple" %}
        function makeFiltering(selected_terms) {
            var new_param_sting = '?',
                current_filter_dict = {};
            $(location).attr('search').replace(/[?&]+([^=&]+)=([^&]*)/gi, function (str, key, value) {
                if (key == "_changelist_filters") {
                    $.each(value.split(/&|%26/), function (index, value) {
                        var x = value.split(/=|%3D/i);
                        current_filter_dict[x[0]] = x[1];
                    });
                } else {
                    current_filter_dict[key] = value;
                }
            });
            if (selected_terms != '') {
                current_filter_dict['terms'] = selected_terms;
            } else {
                delete current_filter_dict['terms'];
            }
            $.each(current_filter_dict, function(k, v) {
                if (v !== undefined && v != '') {
                    new_param_sting += k + '=' + v + '&'
                }
            });
            window.location.href = window.location.protocol + "//" + window.location.host + window.location.pathname + new_param_sting.slice(0, -1)
        }

        $("#clear_rubric_filter").click(function() {
            makeFiltering('');
            event.preventDefault();
        });

        {% endifequal %}
        
        
//        var onAddCPPlugin = function (event) {
//
//
//            var $add_button = $(event.target);
//            var placeholder_key = $add_button.attr("data-placeholder-slot");  // TODO: use ID?
//            var model_name = $add_button.siblings("select").val();
//
//
//            console.log("Event", placeholder_key, model_name);
//        };

        // tree init
        window._init_terms_tree_fn = window._init_terms_tree_fn || function(selector) {
            var $tree = $(selector).tree({
                autoEscape: false,
                selectable: false,
                onCreateLi: function(node, $li){
                    var $checkbox = $("input:checkbox", $li);
                    $checkbox.change(node, function(e){
                        e.data._cheked = $(this).is(':checked');
                        {% ifequal node_template "simple" %}
                        /* make entity filtering by selected terms */
                        var current_filter_dict = {},
                            selected_terms = [];
                        $(selector + " :checked").each(function(){
                            selected_terms.push(parseInt($(this).val()))
                        });
                        makeFiltering(selected_terms);
                        {% endifequal %}
                    });
                    if ( node._cheked ){
                        $checkbox.prop('checked', true);
                    }
                },
                onLoading: function (is_loading, node, $el){

                    function getNodeId() {
                        if (!node) {
                            return "__root__";
                        }
                        else {
                            return node.id;
                        }
                    }

                    function getContainer() {
                        if (node) {
                            return $el.find(".jqtree-element")[0];
                        }
                        else {
                            return $el[0];
                        }
                    }

                    var node_id = getNodeId();

                    if (is_loading) {
                        spinners[node_id] = new Spinner(opts).spin(getContainer());
                    }
                    else {
                        var spinner = spinners[node_id];
                        if (spinner) {
                            spinner.stop();
                            spinners[node_id] = null;
                            $('body').removeClass('loading');
                        }
                    }
                }
            }).bind(
                'tree.init',
                function(){
                    $("input:checkbox[autoopen]", this).each(function(){
                        var node = $tree.tree('getNodeById', $(this).val());
                        $tree.tree('openNode', node, false);
                    });
                }
            );
        };

        // widget name
        var name = "{{ name }}";

        if (name.search(/__prefix__/) != -1){

            // add to inline
            $(document).on('formset:added', function(event, $row, formsetName) {
                var $el = $('.tree-widget', $row).get(0); // tree-widget
                if ( $el ) {
                    window._init_terms_tree_fn('#' + $($el).attr('id'));
                }
            });

            // add to django-fluent-contents
            var cp_plugins = window.cp_plugins || {};
            if ( !cp_plugins._init_tree_monkey_patch ) {

                var origin_add_formset_item = cp_plugins.add_formset_item;
                cp_plugins.add_formset_item = function( placeholder_slot, model_name, options ) {
                    options = options || {
                        on_post_add: function ($fs_item) {
                            var $el = $('.tree-widget', $fs_item).get(0); // tree-widget
                            if ( $el ) {
                                window._init_terms_tree_fn('#' + $($el).attr('id'));
                            }
                        }
                    };
                    origin_add_formset_item(placeholder_slot, model_name, options)
                };

                cp_plugins._init_tree_monkey_patch = true
            }
            $('body').removeClass('loading');

        } else {
            window._init_terms_tree_fn('#' + name + '-select');
        }

    });
})(edw_jQuery || django.jQuery); // monkey patch for django-fluent-contents double jquery init


</script>
{% endcompress %}
<div id="{{ name }}-select" data-url="{% url 'admin:edw_term_select_json' %}?name={{ name }}&selected={% for val in value %}{{ val }}{% if not forloop.last %},{% endif %}{% endfor %}&cached=0&active_only={{ active_only }}&node_template={{ node_template }}&fix_it={{ fix_it }}&tagging_restriction={{ tagging_restriction }}&_={% now 'U' %}" class="tree-widget"></div>
