#tree {
    padding-top: 0;
}

#tree.block-style ul.jqtree-tree .jqtree-element {
    margin-bottom: 0;
    cursor: default;
}

#tree.block-style ul.jqtree-tree li.jqtree-selected > .jqtree-element {
    background: #417690;
    text-shadow: none;
}

#tree.block-style ul.jqtree-tree .jqtree-element .jqtree-toggler.jqtree-toggler-right {
    float: left;
    margin-left: 12px;
    margin-top: 1px;
}

ul.jqtree-tree li {
    line-height: 18px;
    padding: 2px 0 0 0;
}

ul.jqtree-tree li.jqtree-folder {
    margin-bottom: 0;
}

.jqtree-element img {
    display: none;
}

ul.jqtree-tree li.jqtree-folder {
    margin-bottom: 0;
}

ul.jqtree-tree li.jqtree-folder .jqtree-title-folder img {
    display: inherit;
}

.tree-header {
    background: #eee;
    width: 100%;
    height: 38px;
    margin-bottom: -3px;
}

.tree-header .row {
    padding: 8px;
}

.tree-header .row .icons {
    opacity: 0;
    margin-top: 1px;
    color: #1d1d5f;
}

.view_classes, .specification_mode {
    display: inline-block;
    text-align: center;
    float: right;
    width: 210px;
    height: 28px;
    overflow: hidden;
}

.tree-header .title, .tree-header .view_classes , .tree-header .specification_mode {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
}

.tree-header .title {
    padding-left: 5px;
}

.fa-power-off {
    display: inline-block;
    float: right;
}

.is_relation {
    display: inline-block;
    float: right;
}

.is_mark {
    display: inline-block;
    float: right;
}

.is_characteristic {
    display: inline-block;
    float: right;
}

.tree-header .system_flags {
    display: inline-block;
    float: right;
}


div.drag {
    background: url(/static/adminsortable2/icons/drag.png) repeat 0 0;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: -1px;
    width: 11px;
    height: 100%;
}

.icons {
    float: right;
    padding: 4px 8px;
    opacity: 0.2;
    font-size: 14px;
}

.view_classes .view_class {
    border-radius: 0.25em;
    background-color: #777;
    text-transform: uppercase;
    color: #fff;
    font-size: 65%;
    font-weight: 700;
    line-height: 1;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.term img {
    position: absolute;
    height: 16px;
    padding-left: 7px;
    margin-top: 2px;
    padding-right: 10px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.term .title {
    padding-left: 31px;
    padding-top: 1px;
    max-width: 590px;
    max-height: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.edit {
    text-transform: lowercase;
}

.term.is-characteristic > .is_characteristic {
    display: inherit;
    color: darkblue;
    opacity: 1;
}

.term.has-system-flags > .has-system-flags {
    display: inherit;
    color: orangered;
    opacity: 1;
}

.term.is-mark > .is_mark {
    display: inherit;
    color: darkblue;
    opacity: 1;
}

.term.is-relation > .is_relation {
    display: inherit;
    color: darkblue;
    opacity: 1;
}

.on .fa-power-off {
   color: #5cb85c;
    opacity: 1;
}

.help_text {
    font-size: 13px;
    color: #666;
}

.help_text sup {
    font-size: 13px;
    color: red;
}

.tree_widget .term {

}

.specification_mode.mode_10 {
    opacity: 0;
}



@media (max-width: 1023px) and (min-width: 768px) {
    .term .title {
        max-width: 140px;
    }
    .view_classes, .specification_mode {
        width: 170px;
    }
}

@media (max-width: 1199px) and (min-width: 1024px) {
    .term .title {
        max-width: 180px;
    }
    .view_classes, .specification_mode {
        width: 170px;
    }
}

@media (max-width: 1500px) and (min-width: 1200px) {
    .term .title {
        max-width: 300px;
    }
    .view_classes, .specification_mode {
        width: 210px;
    }
}