{% load i18n %}{% autoescape off %}

{% blocktrans %}You are receiving this email because you asked for registration for your
user account at «{{ site_name }}».{% endblocktrans %}

<h1>{% blocktrans %}Click on link {{ activation_link }} for activate your account {{ user }}.{% endblocktrans %}</h1>

{% blocktrans %}Link is valid for {{ expiration_days }} days.{% endblocktrans %}

{% if password %}{% blocktrans %}In the future, please use username {{ user }} with password {{ password }} to sign
into {{ absolute_base_uri }}.{% endblocktrans %}{% endif %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The «{{ site_name }}» team{% endblocktrans %}

{% endautoescape %}