{% load static sekizai_tags %}

{% if customer.is_anonymous %}
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">{% block form_title %}Panel Title{% endblock %}</div>
		</div>

		<div class="panel-body">
			<form name="{{ form_name }}" action="{{ action }}">
				{% block form_content %}
					{% if success_message %}
                        <div class="alert alert-success">
                            <a class="close" data-dismiss="alert">×</a>{{ success_message }}
                        </div>
                    {% endif %}
					{% if error_message %}
                        <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert">×</a>{{ error_message }}
                        </div>
                    {% endif %}
				{% endblock form_content %}
			</form>
		</div>
	</div>
{% endif %}
