{% extends "edw/auth/anonymous-base.html" %}
{% load i18n %}

{% block form_title %}{% trans "Register Yourself" %}{% endblock %}

{% block form_content %}
{{ block.super }}
{% csrf_token %}
<div class="form-group{% if register_user_form.email.errors %} has-error{% elif register_user_form.is_bound %} has-success{% endif %} has-feedback" style="margin-bottom: 20px">
	{{ register_user_form.email.label_tag }}
	<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
        <input class="form-control" type="{{ register_user_form.email.field.widget.input_type }}" id="{{ register_user_form.email.id_for_label }}" name="{{ register_user_form.email.html_name }}" placeholder="{{ register_user_form.email.label }}"{% if register_user_form.email.value %} value="{{ register_user_form.email.value }}"{% endif %}>
	</div>
    {% if register_user_form.email.errors %}
        {% for field_error in register_user_form.email.errors %}
            <span class="help-block">{{ field_error }}</span>
        {% endfor %}
    {% endif %}
    {% if register_user_form.email.help_text %}
        <span class="help-block">{{ register_user_form.email.help_text }}</span>
    {% endif %}
</div>

<div class="form-group">
    <label for="{{ register_user_form.preset_password.id_for_label }}">
        <input type="checkbox" id="{{ register_user_form.preset_password.id_for_label }}" name="{{ register_user_form.preset_password.html_name }}">&nbsp;{{ register_user_form.preset_password.label|safe }}
    </label>
	{% if register_user_form.preset_password.help_text %}<span class="help-block">{{ register_user_form.preset_password.help_text }}</span>{% endif %}
</div>

<div class="form-group{% if register_user_form.password1.errors %} has-error{% elif register_user_form.is_bound %} has-success{% endif %} has-feedback">
    {{ register_user_form.password1.label_tag }}
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <input class="form-control" type="{{ register_user_form.password1.field.widget.input_type }}" id="{{ register_user_form.password1.id_for_label }}" name="{{ register_user_form.password1.html_name }}" placeholder="{{ register_user_form.password1.label }}"{% if register_user_form.password1.value %} value="{{ register_user_form.password1.value }}"{% endif %}>
    </div>
    {% if register_user_form.password1.errors %}
        {% for field_error in register_user_form.password1.errors %}
            <span class="help-block">{{ field_error }}</span>
        {% endfor %}
    {% endif %}
    {% if register_user_form.password1.help_text %}
        <span class="help-block">{{ register_user_form.password1.help_text }}</span>
    {% endif %}
</div>

<div class="form-group{% if register_user_form.password1.errors %} has-error{% elif register_user_form.is_bound %} has-success{% endif %} has-feedback">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <input class="form-control" type="{{ register_user_form.password2.field.widget.input_type }}" id="{{ register_user_form.password2.id_for_label }}" name="{{ register_user_form.password2.html_name }}" placeholder="{{ register_user_form.password2.label }}"{% if register_user_form.password2.value %} value="{{ register_user_form.password2.value }}"{% endif %}>
    </div>
    {% if register_user_form.password2.errors %}
        {% for field_error in register_user_form.password2.errors %}
            <span class="help-block">{{ field_error }}</span>
        {% endfor %}
    {% endif %}
    {% if register_user_form.password1.help_text %}
        <span class="help-block">{{ register_user_form.password1.help_text }}</span>
    {% endif %}
</div>

<div class="form-group">
	<button type="submit" class="btn btn-primary">{% trans "Register" %}</button>
</div>
{% endblock form_content %}