/*
Datamart styles
*/

.ex-related-datamart {
  .ex-title {
    h3 {
      &, & a {
        text-transform: @ex-related-datamart-title-text-transform;
        color: @ex-related-datamart-title-color;
        font-size: @ex-related-datamart-title-font-size;
        font-family: @ex-related-datamart-title-font-family;
        text-decoration: @ex-related-datamart-title-decoration;
      }
      a {
        &:hover {
          color: @ex-related-datamart-title-hover-color;
          text-decoration: @ex-related-datamart-title-hover-decoration;
        }
      }
    }
  }
  .ex-paginator {
    text-align: right;
  }
  &[data-data-count~="0"] {
    display: none;
  }
}