@import "ex-variables";
@import "ex-mixins";
@import "ex-buttons";
@import "ex-icons";
@import "terms";
@import "pagination";
@import "entries";


body,
.main,
{
  box-shadow: none;
  border: none;
  border: none;
  font-family: @font-family-sans-serif;
  font-size: 14px;
}


