@import "variables.less";

body,
.new-todo,
.todoapp,
.footer:before,
.main,
{
  background-color: #000;
  box-shadow: none;
  border: none;
}

/* float for todos */
.terms-tree {
  float: left;
}

.terms-tree ul,
.terms-tree {
  list-style: none;
  line-height: 1.9em;
  padding-left: 20px;
  color: @ex-term-color;
}

.terms-tree li,
.terms-tree ul li {
  cursor: pointer;
}

[class^="ex-icon-"]:before, [class*=" ex-icon-"]:before {
  display: inline-block;
  text-decoration: inherit;
}

[class^="ex-icon-"], [class*=" ex-icon-"] {
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  display: inline;
  width: auto;
  margin-right: 4px;
  margin-left: 4px;
}

[class^="ex-icon-"], [class*=" ex-icon-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

[class^="ex-icon-checkbox-"], [class*=" ex-icon-checkbox-"] {
    border: @ex-control-icons-border;
    border-radius: 3px;
}

.ex-icon-checkbox-dot:before {
  font-size: 6px;
  text-align: center;
  vertical-align: 3px;
  opacity: 0.5;
}

[class^="ex-icon-radio-"]:before,
[class*=" ex-icon-radio-"]:before,
[class^="ex-icon-checkbox-"]:before,
[class*=" ex-icon-checkbox-"]:before {
  width: 14px;
  height: 14px;
}

[class^="ex-icon-caret-"]:before,
[class*=" ex-icon-caret-"]:before {
  text-align: center;
  width: 9px;
  height: 14px;
}

[class^="ex-icon-radio-"]:before,
[class*=" ex-icon-radio-"]:before {
  font-size: 11px;
  text-align: center;
  vertical-align: 1px;
}

[class^="ex-icon-radio-"],
[class*=" ex-icon-radio-"] {
  border: @ex-control-icons-border;
  border-radius: 9px;
}

.ex-icon-checkbox-on:before {
  content: "\f00c";
}
.ex-icon-checkbox-off:before {
  content: " ";
}
.ex-icon-checkbox-dot:before {
  content: "\f111";
}
.ex-icon-radio-on:before {
  content: "\f111";
}
.ex-icon-radio-off:before {
  content: " ";
}
.ex-icon-caret-on:before {
  content: "";
}
.ex-icon-caret-off:before {
  content: "";
}

.ex-icon-reset:before {
  content: "\f057";
}

.ex-description-wrapper {
  position: relative;
}

.ex-icon-info:before {
  content: "\f05a";
}

.ex-close {
  font-size: 15px;
  float: right;
  cursor: pointer;
}

.ex-dim {
  opacity: 0.5;
}

.ex-tagged {
  font-weight: bold;
}

.ex-expandable {
  font-weight: bold;
  border-bottom: 1px dotted @ex-term-color;
}

.ex-baloon-show {
  display: block;
}

.ex-baloon-hide {
  display: none;
}

.ex-baloon {
  position: absolute;
  top: -10px;
  left: 30px;
  z-index: 1010;
  width: 250px;
  background-color: @baloonBackground;
  border: 1px solid @baloonBorderColor;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  line-height: 15px;
  padding: 10px;
  color: @baloonTextColor;
  border-radius: @baloonBorderRadius;
  font-size: 12px;

  p {
    margin: 0;
    padding-right: 15px;
    text-transform: none;
    font-weight: normal;
    font-size: 11px;
  }
}

.ex-baloon .ex-arrow {
  left: -7px;
  top: 10px;
  border-right-color: @baloonArrowColor;
  border-width: 7px 7px 7px 0px;

  &, &:after {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  &:after {
    z-index: -1;
    content: "";
    border-right-color: @baloonArrowBackColor;
    border-width: 9px 9px 9px 0;
    bottom: -9px;
    left: -2px;
  }
}
