@ex-term-color: #eee;
@ex-control-icons-border: 2px solid #888;
@baloonArrowBackColor: #ddd;
@baloonArrowColor: #ddd;
@baloonBackground: #ddd;
@baloonTextColor: #222;
@baloonBorderRadius: 2px;
@baloonBorderColor: #ddd;


@ex-catalog-item-vertical-gap: 3px;
@dropdownBackground: #222;
@dropdownBorder: #444;
@dropdownLinkColor: #eee;
@dropdownLinkColorHover: #eee;
@dropdownLinkBackgroundHover: #333;

@paginationLinkColor: #aaa;
@paginationBorderRadius: 1px;
@paginationBackground: #111;
@paginationBorder: #333;
@paginationBackgroundHover: #222;
@paginationTextColorActive: #eee;
@paginationBackgroundActive: #333;
@paginationBorderActive: #555;
@paginationTextColorDisabled: #777;
@paginationBackgroundDisabled: #000;
@paginationBorderDisabled: #333;

@ex-font-size-base: 12px;
@ex-line-height-base: 1em;
@ex-btn-font-weight: normal;
@ex-btn-border-radius-base: 1px;
@ex-padding-base-vertical: 7px;
@ex-padding-base-horizontal: 7px;
@ex-btn-default-color: #aaa;
@ex-btn-default-bg: #111;
@ex-btn-default-border: #555;
@ex-btn-default-hover-color: #ccc;
@ex-btn-default-hover-bg: #222;
@ex-btn-default-hover-border: #777;
