@ex-term-color: #eee;
@ex-control-icons-border: 2px solid #888;
@baloonArrowBackColor: #ddd;
@baloonArrowColor: #ddd;
@baloonBackground: #ddd;
@baloonTextColor: #222;
@baloonBorderRadius: 2px;
@baloonBorderColor: #ddd;
